@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    margin-top: 10px;
}

.main__ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
.main__li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 20px;
  }
  
.main__li:before {
    content: "+";
    padding-right: 20px;
  }

.slideshow-container {
    background-image: url('../images/unsplash_yx5Apt60SXU.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slideshow-container2 {
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slideshow-container3 {
    background-image: url('../images/bg-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__animation {
    animation: shake 1s ease-in-out .1s infinite alternate;
}

@keyframes shake {
    from{
        transform: rotate(15deg);
    }
    to{
        transform: rotate(-15deg);
        transform-origin: center center;
    }
}