@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    margin-top: 10px;
}

.main__ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
.main__li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 20px;
  }
  
.main__li:before {
    content: "+";
    padding-right: 20px;
  }

/*@keyframes slideshow {
    0% { background-image: url('../images/unsplash_6-adg66qleM.png'); }
    20% { background-image: url('../images/unsplash_dECn_W4b8qQ.png'); }
    40% { background-image: url('../images/unsplash_DP0LMBAIzZQ.png'); }
    60% { background-image: url('../images/unsplash_VURwPtZqyF4.png'); }
    80% { background-image: url('../images/unsplash_WtolM5hsj14.png'); }
    100% { background-image: url('../images/unsplash_yx5Apt60SXU.png'); }
}*/

.slideshow-container {
    background-image: url('../images/unsplash_yx5Apt60SXU.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*animation: float 4s ease-in-out infinite;
    transform: translatey(0px);
    /*animation-name: slideshow;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

.main__animation {
    animation: shake 1s ease-in-out .1s infinite alternate;
}

@keyframes shake {
    from{
        transform: rotate(15deg);
    }
    to{
        transform: rotate(-15deg);
        transform-origin: center center;
    }
}